@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './index.css';

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
}
/* 屋根カット */
.clip-roof{
  clip-path: polygon(0 45%, 100% 0, 100% 100%, 0 100%);
}

.en{
  font-family: "Roboto Condensed", sans-serif;
}