@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './index.css';

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
}
/* 屋根カット */
.clip-roof{
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}

.clip-roof-firstview{
  clip-path: polygon(0 45%, 100% 0, 100% 100%, 0 100%);
}

.en{
  font-family: "Roboto Condensed", sans-serif;
}
.header-margin{
  margin-top: 70px;
}
.color-secondary-opacity10{
  background-color:#F5F5EE;
}
.color-secondary-opacity20{
  border-color:#E6E6D3;}

.text-stroke {
  text-shadow:
    1px 1px 0 white,
   -1px 1px 0 white,
    1px -1px 0 white,
   -1px -1px 0 white,

    2px 2px 0 white,
   -2px 2px 0 white,
    2px -2px 0 white,
   -2px -2px 0 white;
   -webkit-text-stroke: 1px white;}

.text-shadow{
  text-shadow:
  1px 0 0 white,
 -1px 0 0 white,
  0 1px 0 white,
  0 -1px 0 white,
  1px 1px 0 white,
 -1px 1px 0 white,
  1px -1px 0 white,
 -1px -1px 0 white,

   2px 0 0 white,
 -2px 0 0 white,
  0 2px 0 white,
  0 -2px 0 white,
  2px 2px 0 white,
 -2px 2px 0 white,
  2px -2px 0 white,
 -2px -2px 0 white;
}
.underline{
  text-decoration-line: underline;
  text-decoration-thickness: 6px;
  text-decoration-color: rgba(248, 190, 1, 0.7); 
  text-underline-offset: -3px;
}